# Eclipse Core      
.project
.settings
.log

# JDT-specific (Eclipse Java Development Tools)     
.classpath

# Other
.idea/
.eclipse
/.gitignore
/bin/
/EvilGalaxy/logs/*.log
/EvilGalaxy/logs/*.1
/EvilGalaxy/logs/*.lck
/EvilGalaxy/logs/*.2
/EvilGalaxy/saves/*.txt
/PotOGold/target/*.jar
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/META-INF/*.MF
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/META-INF/maven/com.drenski.myjavagames.potogold/PotOGold/*.properties
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/META-INF/maven/com.drenski.myjavagames.potogold/PotOGold/*.xml
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/dbconn/*.class
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/entities/*.class
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/game_engine/*.class
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/main/*.class
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/resources/*.class
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/states/*.class
/PotOGold/target/assembly/work/PotOGold-0.0.1-SNAPSHOT.jar/utils/*.class
/PotOGold/target/classes/META-INF/*.MF
/PotOGold/target/classes/META-INF/maven/com.drenski.myjavagames.potogold/PotOGold/*.properties
/PotOGold/target/classes/META-INF/maven/com.drenski.myjavagames.potogold/PotOGold/*.xml
/PotOGold/target/classes/dbconn/*.class
/PotOGold/target/classes/entities/*.class
/PotOGold/target/classes/game_engine/*.class
/PotOGold/target/classes/main/*.class
/PotOGold/target/classes/resources/*.class
/PotOGold/target/classes/states/*.class
/PotOGold/target/classes/utils/*.class
/PotOGold/target/maven-archiver/*.properties
/PotOGold/target/sonar/*.sonar_lock
/PotOGold/target/sonar/*.txt
/PotOGold/target/test-classes/suite/tests/*.class
